sudo: false

language: python

matrix:
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.5
      env: TOXENV=py35
    - python: 2.7
      env: TOXENV=py27


install:
  - pip install --upgrade pip tox coveralls
  - pip freeze

script:
  tox

after_success:
  coveralls
